/* You can add global styles to this file, and also import other style files */
@import './mat-table.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.nav-label {
    vertical-align: text-top !important;    
}

.left-nav-icon-size {
    font-size: 16px !important;
}